<h1>User projects</h1>
<% @result.each do |res| %>
  <li><%= res %></li>
<% end %>


<h2> Project Details </h2>
<p>To get number of the commits added by the author for our first (action_cable_chat_app) repository </p>
<% @commits.each do |commit| %>
  <li><%= commit %></li>
<% end %>